<div class="flex justify-evenly  items-center w-full bg-[#FFFFD8] h-fit py-5 sm:flex-wrap ">
    <button routerLink="experiencia" class="css-button-retro--blue z-10 mx-3 my-3" value="Contact me!">experiencia Laboral</button>
    <button routerLink="proyectos" class="css-button-retro--blue z-10 my-3" value="Contact me!">Proyectos</button>
    <button routerLink="skills" class="css-button-retro--blue z-10 mx-3 my-3s" value="Contact me!">Hard & Soft skills</button>
    <a href="https://google.com.ar" target="_blank"><button class="css-button-retro--blue z-10" my-3 value="Contact me!">Lenguaje</button></a>
</div>

<!-- grid grid-cols-2 py-10 justify-items-center justify-self-center -->    