<app-navbar></app-navbar>
<div class="bg-[#FFFFD8] mt-10 text-center">
    <div class="border-2 border-black w-4/5 mx-auto mb-10 h-2/4 shadow-2xl p-5 rounded-md">
        <h1 class="text-center font-mono text-4xl mb-10 my-10">Habilidades</h1>
        <div class=" mx-auto mb-10 animate__animated animate__fadeInRight p-6 max-w-md bg-[#53AC9A] rounded-lg border-2 border-black">
            <p class="mb-3 font-normal font-mono"> La experiencia de trabajar en diferentes rubros a lo largo de mi vida, me ha capacitado en las siguientes habilidades blandas. Ademas he de mostrar a continuacion algunas de las tecnologias que he aprendido en los ultimos años </p>
        </div>
        <!-- HABILIDADES -->
        <div *ngFor="let skill of listaHabilidades" class="sm:inline-flex justify-start mx-5 hover:border-2 hover:border-[#53AC9A] hover:rounded-full p-1 hover:transition m-3">
            <div *ngIf="isLogged" class="flex px-2">
                <button (click)="borrar(skill.id)" ><fa-icon class="" [icon]="deleteIcon">Eliminar</fa-icon></button>
                <button><fa-icon routerLink="/editSkill/{{skill.id}}" class="mx-2" [icon]="editIcon">Editar</fa-icon></button>
            </div>
            <circle-progress 
            [backgroundColor]="'#CEEFC1'"
            [percent]= "skill.porcentajeH"
            [radius]="60"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#9D94FF'"
            [animation]="true"
            [animationDuration]="300"
            [showUnits]="false"
            [title] = "skill.nombre"
            [showSubtitle] = "true"
            [subtitle]="skill.tipo"
            [titleFontSize] = "'15'">
            </circle-progress>
            
        </div>
    </div>
    <button (click)="toggleCreateSkill()" *ngIf="isLogged" class="mt-3 mb-5 p-2 items-center nav-item mx-1 font-mono hover:translate-x-1 hover:bg-[#9D94FF] transition border-2 rounded-md px-1 border-black" >Agregar habilidad</button>
    <div *ngIf="toggleSkill">
        <app-nuevo-skill></app-nuevo-skill>
    </div>
</div>
<app-footer></app-footer>
