.css-button-retro--blue {
    min-width: 100px;
    width: 25px;
    height: 50px;
    color: #000;
    padding: 10px 5px;
    font-weight:bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    flex-direction: column;
    outline: none;
    border: 1px solid #000;
    font-family: monospace;
    font-size: large;
    background: transparent;
    align-items: center;
    justify-content: center;
  }
  .css-button-retro--blue:hover:after {
    top: 0;
    left: 0;
  }
  .css-button-retro--blue:after {
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 5px;
    left: 5px;
    transition: 0.2s;
    background-color:#9D94FF;  
    /* #ea9d31; */
  }