<div class="flex w-full justify-between items-center bg-[#9D94FF] rounded-md bg-opacity-50 md:col-span-3">
    <div class="flex-col items-center">
      <div class="flex-col items-center my-1 mx-3 justify-center">
          <a routerLink="/"><h1 class="text-2xl font-mono mx-auto px-1">Gaston Rosales</h1></a>
            <small class="font-mono text-lg mx-auto">Argentina Programa 2022 
                <fa-icon class="mx-auto" [icon]="terminalIco"></fa-icon>
            </small>
        </div>
    </div>

    
    <div class="inline-flex justify-end w-1/4">
            <ul class="navigation block md:flex md:justify-center  mx-1 px-4 my-1">
                <li class="h-12 w-20 nav-item mx-3 flex justify-center items-center font-mono hover:translate-x-1 hover:bg-[#9D94FF] transition border-2 rounded-md px-1 border-black mt-1">
                  <a routerLink="/">Inicio</a>
                
                </li>
                <li class="h-12 items-center nav-item mx-1 flex justify-center font-mono hover:translate-x-1 hover:bg-[#9D94FF] transition border-2 rounded-md px-1 border-black mt-1">
                  <a routerLink="/experiencia">Experiencia</a>

                </li>
                <li class="h-12 items-center nav-item mx-1 flex justify-center font-mono hover:translate-x-1 hover:bg-[#9D94FF] transition border-2 rounded-md px-1 border-black mt-1">
                  <a routerLink="/skills">Habilidades</a>
                </li>
                <li class="h-12 items-center nav-item mx-1 flex justify-center font-mono hover:translate-x-1 hover:bg-[#9D94FF] transition border-2 rounded-md px-1 border-black mt-1">
                  <a routerLink="/educacion">Educacion</a>
                </li>
                <li class="h-12 items-center nav-item mx-1 flex justify-center font-mono hover:translate-x-1 hover:bg-[#9D94FF] transition border-2 rounded-md px-1 border-black mt-1">
                  <a routerLink="/proyectos">Proyetos</a>

                </li>
                <li class="h-12 items-center nav-item mx-1 flex justify-center font-mono hover:translate-x-1 hover:bg-[#9D94FF] transition border-2 rounded-md px-1 border-black mt-1">
                  <a routerLink="/contacto">Contacto</a>
                </li>
                <li *ngIf="!isLogged">
                  <button routerLink="/login" class="h-12 items-center nav-item mx-1 flex justify-center font-mono hover:translate-x-1 hover:bg-[#9D94FF] transition border-2 rounded-md px-1 border-black mt-1">
                    Iniciar Sesion
                  </button>
                </li>
                <li *ngIf="isLogged">
                  <button (click)="logOut()"  class="h-12 items-center nav-item mx-1 flex justify-center font-mono hover:translate-x-1 hover:bg-[#9D94FF] transition border-2 rounded-md px-1 border-black mt-1">
                    Cerrar Sesion
                   </button>
                </li>

            </ul>
        </div>

    </div>


<router-outlet></router-outlet>
