<app-navbar></app-navbar>
<div class="flex justify-center" id="patron">
    <div class="shadow-xl md:w-1/4 md:h-3/5 text-center my-auto bg-[#ed6031] border-4 rounded-md p-10 h-fit">
        <div class="mt-20">
            <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                <div class="">
                    <h4 class="font-bold font-mono text-xl">Inicio de sesion</h4>

                    <label for="nombreUsuario"></label>
                    <input required class="shadow-md mt-5 rounded-md mx-auto block w-100" type="text" id="nombreUsuario" name="nombreUsuario" placeholder="Usuario" [(ngModel)]="nombreUsuario">

                    <!-- <label class="" for="email"></label>
                    <input required class="shadow-md mt-5 rounded-md mx-auto block w-100" type="email" id="email" placeholder="email@usuario.com"> -->

                    <label for="password"></label>
                    <input required class="shadow-md mt-5 rounded-md mx-auto block w-100" type="password" id="password" name="password" placeholder="password" [(ngModel)]="password">

                    <button class="font-mono w-full border py-2 md:w-2/6 my-5 rounded-md bg-[#CEEFC1] hover:bg-[#9D94FF] transition">Ingresar</button> 
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>