<div class="bg-[#FFFFD8] w-full h-full py-10">
    <div class="">
        <h2 class="w-full block text-center text-4xl font-bold font-mono mb-10">Soft Skills</h2>
        <div class="flex flex-wrap justify-evenly">
            <circle-progress class=""
            [percent]="100"
            [responsive]="false"
            [titleFontSize] = "'13'"
            [showUnits] = false
            [radius]="80"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#9D94FF'"
            [innerStrokeColor]="'#ED6031'"
            [animation]="true"
            [animationDuration]="400"
            [title] = "'Asertividad'"
            [showSubtitle]="false"
            ></circle-progress>
    
            <circle-progress class=""
            [titleFontSize] = "'13'"
            [percent]="100"
            [showUnits] = false
            [radius]="80"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#9D94FF'"
            [innerStrokeColor]="'#ED6031'"
            [animation]="true"
            [animationDuration]="400"
            [title] = "'Perseverancia'"
            [responsive]="false"
            [showSubtitle]="false"
            ></circle-progress>
    
            <circle-progress class=""
            [responsive]="false"
            [titleFontSize] = "'13'"
            [percent]="100"
            [showUnits] = false
            [radius]="80"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#9D94FF'"
            [innerStrokeColor]="'#ED6031'"
            [animation]="true"
            [animationDuration]="400"
            [title] = "'Comunicación'"
            [showSubtitle]="false"
            ></circle-progress>
            
            <circle-progress class=""
            [responsive]="false"
            [titleFontSize] = "'13'"
            [percent]="100"
            [showUnits] = false
            [radius]="80"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#9D94FF'"
            [innerStrokeColor]="'#ED6031'"
            [animation]="true"
            [animationDuration]="400"
            [title] = "'Puntualidad'"
            [showSubtitle]="false"
            ></circle-progress>

            <circle-progress class=""
            [responsive]="false"
            [titleFontSize] = "'13'"
            [percent]="100"
            [showUnits] = false
            [radius]="80"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#9D94FF'"
            [innerStrokeColor]="'#ED6031'"
            [animation]="true"
            [animationDuration]="400"
            [title] = "'trabajo en equipo'"
            [showSubtitle]="false"
            ></circle-progress>
        </div>
    </div>
    <div class="text-center">
        <h2 class="w-full block text-center text-4xl font-bold font-mono mt-16 mb-10">Hard Skills</h2>
        <div class="flex flex-wrap justify-evenly">
            <circle-progress class=""
            [responsive]="false"
            [titleFontSize] = "'13'"
            [percent]="85"
            [showUnits] = false
            [radius]="60"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#ca50ff'"
            [innerStrokeColor]="'#85ff50'"
            [animation]="true"
            [animationDuration]="400"
            [title] = "'Ingles'"
            [showSubtitle]="false"
        ></circle-progress>

        <circle-progress class=""
        [responsive]="false"
        [titleFontSize] = "'13'"
        [percent]="90"
        [showUnits] = false
        [radius]="60"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#ca50ff'"
        [innerStrokeColor]="'#85ff50'"
        [animation]="true"
        [animationDuration]="400"
        [title] = "'HTML5'"
        [showSubtitle]="false"
        ></circle-progress>

        <circle-progress class=""
        [responsive]="false"
        [titleFontSize] = "'13'"
        [percent]="90"
        [showUnits] = false
        [radius]="60"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#ca50ff'"
        [innerStrokeColor]="'#85ff50'"
        [animation]="true"
        [animationDuration]="400"
        [title] = "'CSS'"
        [showSubtitle]="false"
        ></circle-progress>

        <circle-progress class=""
        [responsive]="false"
        [titleFontSize] = "'13'"
        [percent]="65"
        [showUnits] = false
        [radius]="60"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#ca50ff'"
        [innerStrokeColor]="'#85ff50'"
        [animation]="true"
        [animationDuration]="400"
        [title] = "'JavaScript'"
        [showSubtitle]="false"
        ></circle-progress>

        <circle-progress class=""
        [responsive]="false"
        [titleFontSize] = "'13'"
        [percent]="65"
        [showUnits] = false
        [radius]="60"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#ca50ff'"
        [innerStrokeColor]="'#85ff50'"
        [animation]="true"
        [animationDuration]="400"
        [title] = "'Typescript'"
        [showSubtitle]="false"
        ></circle-progress>

        <circle-progress class=""
        [responsive]="false"
        [titleFontSize] = "'13'"
        [percent]="70"
        [showUnits] = false
        [radius]="60"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#ca50ff'"
        [innerStrokeColor]="'#85ff50'"
        [animation]="true"
        [animationDuration]="400"
        [title] = "'Angular 13'"
        [showSubtitle]="false"
        ></circle-progress>

        <circle-progress class=""
        [responsive]="false"
        [titleFontSize] = "'13'"
        [percent]="60"
        [showUnits] = false
        [radius]="60"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#ca50ff'"
        [innerStrokeColor]="'#85ff50'"
        [animation]="true"
        [animationDuration]="400"
        [title] = "'Bootstrap 5'"
        [showSubtitle]="false"
        ></circle-progress>

        <circle-progress class=""
        [responsive]="false"
        [titleFontSize] = "'13'"
        [percent]="55"
        [showUnits] = false
        [radius]="60"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#ca50ff'"
        [innerStrokeColor]="'#85ff50'"
        [animation]="true"
        [animationDuration]="400"
        [title] = "'Tailwind CSS'"
        [showSubtitle]="false"
        ></circle-progress>
        </div>

        

    </div>
</div>