<div class="flex items-center w-fit bg-[#9D94FF] h-fit">
    <button routerLink="experiencia" class="css-button-retro--blue z-10 mx-3 my-3" value="Contact me!">experiencia Laboral</button>
    <button routerLink="proyectos" class="css-button-retro--blue z-10 my-3" value="Contact me!">Proyectos</button>
    <button routerLink="skills" class="css-button-retro--blue z-10 mx-3 my-3s" value="Contact me!">Hard & Soft skills</button>
    <button routerLink="footer" class="css-button-retro--blue z-10" my-3 value="Contact me!">Lenguaje</button>
</div>
